In [1]:
import pandas as pd

In [2]:
t = pd.read_csv(r'net32InvoicesOnly.csv')
c = pd.read_csv(r"net32CostOfGoods.csv")

In [3]:
t = t.drop(columns = {"Unnamed: 0"})

In [4]:
t.groupby('Date').agg({'Num':'count','Qty':'sum'})

            Num  Qty
Date
01/02/2019   52  164
01/03/2019   55  159
01/04/2019   63  178
01/07/2019   96  283
01/08/2019   82  276
01/09/2019   58  129
01/10/2019   60  193
01/11/2019   59  168
01/14/2019   58  168
01/15/2019   77  215
01/16/2019   75  265
01/17/2019   94  267
01/18/2019   92  255
01/21/2019   76  201
01/22/2019  116  320
01/23/2019   63  177
01/24/2019   98  261
01/25/2019   75  193
01/28/2019  121  342
01/29/2019   74  210
01/30/2019   74  234
01/31/2019  100  267
02/01/2019   53  199
02/04/2019   98  315
02/05/2019   74  203
02/06/2019   70  178
02/07/2019   64  177
02/08/2019   67  193
02/11/2019   57  201
02/12/2019   69  176
...         ...  ...
09/24/2019   56  212
09/25/2019   51  150
09/26/2019   50  167
09/27/2019   37  113
09/30/2019   49  150
10/01/2019   57  124
10/02/2019   47  149
10/03/2019   64  183
10/04/2019   57  198
10/07/2019   66  187
10/08/2019   60  229
10/09/2019   58  168
10/10/2019   50  210
10/11/2019   58  163
10/14/2019   47  139
10/15/2019   69  300
10/16/2019   64  245
10/17/2019   63  156
10/18/2019   58  171
10/21/2019   67  186
10/22/2019   48  160
10/23/2019   56  286
10/24/2019   69  195
10/25/2019   50  118
10/28/2019   75  241
10/29/2019   54  198
10/30/2019   53  166
10/31/2019   57  191
11/01/2019   73  190
11/04/2019   92  192

[214 rows x 2 columns]

In [5]:
c.head()
t.head()

,Date,Num,Ship To Address 1,Ship To Address 2,Ship Postal Code,Item,Qty,Sales Price,Revenue
0,01/02/2019,12927,"John L. Gravitte, DDS, PA",140 N POINTE BLVD,27030-2266,KER-36052(EU),2,81.00,162.0
1,01/02/2019,12926,Clinic Dental Hispana,8410 Fondren Rd,77074,SHO-0244,4,15.75,63.0
2,01/02/2019,12926,Clinic Dental Hispana,8410 Fondren Rd,77074,KER-35129,2,27.95,55.9
3,01/02/2019,12935,Crown Dental/9426,9426-B Cullen Blvd.,77092,3MD-5905A2,2,42.00,84.0
4,01/02/2019,12931,Raintree Dental,9304 E. Raintree Dr.,85260,KUR-1981-KA,1,91.50,91.5

In [6]:
for i in range(0,len(c['Item'].unique())):
#     for j in range(0,len(c['Item'].unique())):
#         if  t['Item'].unique()[i] == c['Item'].unique()[j]:
    t.loc[t['Item']== c['Item'].unique()[i] ,'Landing Cost'] = c['Cost'][i]

In [7]:
t.head()

,Date,Num,Ship To Address 1,Ship To Address 2,Ship Postal Code,Item,Qty,Sales Price,Revenue,Landing Cost
0,01/02/2019,12927,"John L. Gravitte, DDS, PA",140 N POINTE BLVD,27030-2266,KER-36052(EU),2,81.00,162.0,40.53
1,01/02/2019,12926,Clinic Dental Hispana,8410 Fondren Rd,77074,SHO-0244,4,15.75,63.0,9.03
2,01/02/2019,12926,Clinic Dental Hispana,8410 Fondren Rd,77074,KER-35129,2,27.95,55.9,20.83
3,01/02/2019,12935,Crown Dental/9426,9426-B Cullen Blvd.,77092,3MD-5905A2,2,42.00,84.0,27.98
4,01/02/2019,12931,Raintree Dental,9304 E. Raintree Dr.,85260,KUR-1981-KA,1,91.50,91.5,65.03

In [8]:
# t = t.drop(columns = {'Landing cost'})

In [9]:
# for i in range(0,len(t['Num'])):
#     t['Landing Cost'][i] = t['Landing Cost'][i]*t['Qty'][i]

In [11]:
t['Landing Cost']=t['Landing Cost']*t['Qty']

In [14]:
t.to_csv(r'net32ReportForConsolidation.csv')