In [1]:
import pandas as pd
import numpy as np

In [17]:
# net = pd.read_csv(r'net32ReportForConsolidation.csv')
zips = pd.read_csv(r'uszipS.csv',encoding = "ISO-8859-1")

In [3]:
net.head()

,date,order id,order city,order state,Ship Postal Code,item,quantity,revenue,total cost,profit
0,01/02/2019,12927,NaN,NaN,27030.0,KER-36052(EU),2,162.0,81.06,80.94
1,01/02/2019,12926,NaN,NaN,77074.0,SHO-0244,4,63.0,36.12,26.88
2,01/02/2019,12926,NaN,NaN,77074.0,KER-35129,2,55.9,41.66,14.24
3,01/02/2019,12935,NaN,NaN,77092.0,3MD-5905A2,2,84.0,55.96,28.04
4,01/02/2019,12931,NaN,NaN,85260.0,KUR-1981-KA,1,91.5,65.03,26.47

In [4]:
zips.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,all_county_weights,imprecise,military,timezone
0,601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,18570,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",False,False,America/Puerto_Rico
1,602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,41520,523.5,72003,Aguada,{'72003':100},False,False,America/Puerto_Rico
2,603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,54689,667.9,72005,Aguadilla,{'72005':100},False,False,America/Puerto_Rico
3,606,18.16724,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6615,60.4,72093,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",False,False,America/Puerto_Rico
4,610,18.29032,-67.12243,Anasco,PR,Puerto Rico,True,NaN,29016,312.0,72011,AÃ±asco,"{'72003':0.55,'72011':99.45}",False,False,America/Puerto_Rico

In [6]:
net.loc[np.isnan(net["Ship Postal Code"]), 'Ship Postal Code'] = 0
net.loc[np.isnan(net["order city"]), 'order city'] = 0
net.loc[np.isnan(net["order state"]), 'order state'] = 0

In [10]:
net['Ship Postal Code'] = net['Ship Postal Code'].astype('int64')

In [13]:
net.loc[net['Ship Postal Code']=='77074']

C:\Users\carlo\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Empty DataFrame
Columns: [date, order id, order city, order state, Ship Postal Code, item, quantity, revenue, total cost, profit]
Index: []

In [39]:
net.head()

,date,order id,order city,order state,Ship Postal Code,item,quantity,revenue,total cost,profit
0,01/02/2019,12927,0.0,0.0,27030,KER-36052(EU),2,162.0,81.06,80.94
1,01/02/2019,12926,0.0,0.0,77074,SHO-0244,4,63.0,36.12,26.88
2,01/02/2019,12926,0.0,0.0,77074,KER-35129,2,55.9,41.66,14.24
3,01/02/2019,12935,0.0,0.0,77092,3MD-5905A2,2,84.0,55.96,28.04
4,01/02/2019,12931,0.0,0.0,85260,KUR-1981-KA,1,91.5,65.03,26.47

In [45]:
# for i in range(0,len(net['Ship Postal Code'].unique())):
for j in range(0,len(zips['zip'])):
    net.loc[net['Ship Postal Code'] == zips['zip'][j], 'order state']= zips['state_name'][j]
    net.loc[net['Ship Postal Code'] == zips['zip'][j], 'order city']= zips['city'][j]

In [49]:
net = net.drop(columns = {'Ship Postal Code'})
net.head()

,date,order id,order city,order state,item,quantity,revenue,total cost,profit
0,01/02/2019,12927,Mount Airy,North Carolina,KER-36052(EU),2,162.0,81.06,80.94
1,01/02/2019,12926,Houston,Texas,SHO-0244,4,63.0,36.12,26.88
2,01/02/2019,12926,Houston,Texas,KER-35129,2,55.9,41.66,14.24
3,01/02/2019,12935,Houston,Texas,3MD-5905A2,2,84.0,55.96,28.04
4,01/02/2019,12931,Scottsdale,Arizona,KUR-1981-KA,1,91.5,65.03,26.47

In [51]:
net.to_csv('net32ConsolidatedReady.csv')

# fixing the states to be two letter

In [52]:
net = pd.read_csv('net32ConsolidatedReady.csv')

In [54]:
state = pd.read_csv('provincestate.csv')

In [57]:
net.head(1)

,date,order id,country,order city,order state,item,quantity,revenue,total cost,profit,return on sale
0,01/02/2019,12927,USA,Mount Airy,North Carolina,KER-36052(EU),2,162.0,81.06,80.94,0.49962963

In [60]:
for i in range(0,len(net['order state'].unique())):
    for j in range(0,len(state['State'])):
        if net['order state'].unique()[i] == state['State'][j]:
            net.loc[net['order state']==net['order state'].unique()[i], 'order state'] = state['Code'][j]

In [62]:
net.to_csv('net32ConsolidatedReady1.csv')

# Ebay Data

In [5]:
ebay = pd.read_csv('ebayDATA.csv')

In [6]:
ebay.head()

         date  order number  Ship Postal Code          item  quantity  revenue
0  09/13/2019         22172           36608.0  3MD-3525(TE)         3   323.38
1  10/11/2019         22239           35768.0    ACT-261005         1    80.00
2  10/11/2019         22239           35768.0    ACT-261030         2   249.18
3  09/20/2019         22185           35148.0   KOD-1273747         1    49.99
4  10/09/2019         22232           72703.0  3MD-3525(TE)         1   112.02

In [12]:
ebay["order city"] = 0
ebay["order state"] = 0

In [13]:
ebay.loc[np.isnan(ebay["Ship Postal Code"]), 'Ship Postal Code'] = 0
ebay.loc[np.isnan(ebay["order city"]), 'order city'] = 0
ebay.loc[np.isnan(ebay["order state"]), 'order state'] = 0

In [14]:
ebay['Ship Postal Code'] = ebay['Ship Postal Code'].astype('int64')

In [18]:
ebay.head()

,date,order number,Ship Postal Code,item,quantity,revenue,order city,order state
0,09/13/2019,22172,36608,3MD-3525(TE),3,323.38,0,0
1,10/11/2019,22239,35768,ACT-261005,1,80.00,0,0
2,10/11/2019,22239,35768,ACT-261030,2,249.18,0,0
3,09/20/2019,22185,35148,KOD-1273747,1,49.99,0,0
4,10/09/2019,22232,72703,3MD-3525(TE),1,112.02,0,0

In [19]:
for j in range(0,len(zips['zip'])):
    ebay.loc[ebay['Ship Postal Code'] == zips['zip'][j], 'order state']= zips['state_name'][j]
    ebay.loc[ebay['Ship Postal Code'] == zips['zip'][j], 'order city']= zips['city'][j]

Adding the country to each entry

In [21]:
state = pd.read_csv('provincestate.csv')

In [23]:
ebay['country'] = ''

In [33]:
for i in ebay['order state'].unique():
    for j in range(0,len(state['State'])):
        if i == state['State'][j]:
            ebay.loc[ebay['order state']==i,'country'] = state['Country'][j]

In [41]:
ebay = ebay.loc[ebay['Ship Postal Code']!=0]

In [44]:
ebay.loc[ebay['order state']==0]

,date,order number,Ship Postal Code,item,quantity,revenue,order city,order state,country
25,10/09/2019,22233,33198,3MD-712-036,1,92.99,0,0,
27,09/23/2019,22187,33195,3MD-712-036,1,94.99,0,0,

In [59]:
ebay.loc[ebay['Ship Postal Code']==33198, 'order city'] = "Miami"
ebay.loc[ebay['Ship Postal Code']==33198, 'order state'] = "Florida"
ebay.loc[ebay['Ship Postal Code']==33198, 'country'] = "USA"
ebay.loc[ebay['Ship Postal Code']==33195, 'order city'] = "Miami"
ebay.loc[ebay['Ship Postal Code']==33195, 'order state'] = "Florida"
ebay.loc[ebay['Ship Postal Code']==33195, 'country'] = "USA"

In [64]:
for i in range(0,len(ebay['order state'].unique())):
    for j in range(0,len(state['State'])):
        if ebay['order state'].unique()[i] == state['State'][j]:
            ebay.loc[ebay['order state']==ebay['order state'].unique()[i], 'order state'] = state['Code'][j]

In [65]:
ebay

,date,order number,Ship Postal Code,item,quantity,revenue,order city,order state,country
0,09/13/2019,22172,36608,3MD-3525(TE),3,323.38,Mobile,AL,USA
1,10/11/2019,22239,35768,ACT-261005,1,80.00,Scottsboro,AL,USA
2,10/11/2019,22239,35768,ACT-261030,2,249.18,Scottsboro,AL,USA
3,09/20/2019,22185,35148,KOD-1273747,1,49.99,Sumiton,AL,USA
4,10/09/2019,22232,72703,3MD-3525(TE),1,112.02,Fayetteville,AR,USA
5,09/16/2019,22177,72104,ACT-261030,1,135.00,Malvern,AR,USA
6,09/30/2019,22207,72653,KER-33872,1,44.99,Mountain Home,AR,USA
7,10/01/2019,22211,85233,BEA-FG557,1,89.99,Gilbert,AZ,USA
8,10/09/2019,22230,94706,3MD-712-036,2,185.98,Albany,CA,USA
9,09/23/2019,22186,91911,3MD-712-036,1,94.99,Chula Vista,CA,USA
10,09/20/2019,22184,95758,3MD-712-036,2,189.98,Elk Grove,CA,USA
11,09/27/2019,22202,93650,J&J-MS0005,6,122.70,Fresno,CA,USA
12,10/03/2019,22219,92543,3MD-712-036,1,94.99,Hemet,CA,USA
13,08/23/2019,22147,90045,J&J-MS0005,8,231.92,Los Angeles,CA,USA
14,09/23/2019,22192,90031,3MD-712-036,1,94.99,Los Angeles,CA,USA
15,10/09/2019,22234,94123,3MD-3525(TE),1,99.50,San Francisco,CA,USA
16,09/13/2019,22171,93657,3MD-41258,1,94.99,Sanger,CA,USA
17,09/27/2019,22200,91403,3MD-712-036,1,94.99,Sherman Oaks,CA,USA
18,09/25/2019,22195,92683,3MD-712-036,3,264.00,Westminster,CA,USA
19,10/10/2019,22237,80909,KER-31513(EU),2,89.98,Colorado Springs,CO,USA
20,10/03/2019,22223,6907,CRA-CR3226,10,67.50,Stamford,CT,USA
21,08/21/2019,22144,6897,CRA-CR3226,10,91.60,Wilton,CT,USA
22,09/09/2019,22165,33435,ULT-6408,1,34.99,Boynton Beach,FL,USA
23,09/26/2019,22199,33909,3MD-1954,2,64.00,Cape Coral,FL,USA
24,08/26/2019,22148,33122,3MD-56877,2,169.98,Miami,FL,USA
25,10/09/2019,22233,33198,3MD-712-036,1,92.99,Miami,FL,USA
26,10/17/2019,22259,33180,3MD-31642(E),2,397.08,Miami,FL,USA
27,09/23/2019,22187,33195,3MD-712-036,1,94.99,Miami,FL,USA
28,10/02/2019,22217,33176,KER-33872,2,89.98,Miami,FL,USA
29,09/12/2019,22170,33157,3MD-712-036,2,185.00,Miami,FL,USA
...,...,...,...,...,...,...,...,...,...
61,09/17/2019,22181,89121,SIR-6176528,1,49.99,Las Vegas,NV,USA
62,09/17/2019,22181,89121,SIR-6176510,1,49.99,Las Vegas,NV,USA
63,10/15/2019,22249,14470,DEN-80395,2,258.00,Holley,NY,USA
64,09/27/2019,22204,11743,3MD-71522,2,175.98,Huntington,NY,USA
65,10/10/2019,22236,11432,3MD-3525(TE),1,97.00,Jamaica,NY,USA
68,10/02/2019,22214,11787,EDS-130-01,1,118.00,Smithtown,NY,USA
69,10/02/2019,22214,11787,EDS-130-0,1,118.00,Smithtown,NY,USA
70,10/09/2019,22229,11413,3MD-41258(E),10,398.60,Springfield Gardens,NY,USA
71,10/02/2019,22218,10607,KER-31513(EU),2,89.98,White Plains,NY,USA
72,08/15/2019,22135,16105,3MD-46957,1,89.99,New Castle,PA,USA
73,10/11/2019,22240,19116,KER-31513(EU),2,89.98,Philadelphia,PA,USA
74,10/11/2019,22238,19460,DER-31515,1,120.00,Phoenixville,PA,USA
75,09/27/2019,22201,37857,ACT-F00245,1,59.99,Rogersville,TN,USA
76,10/01/2019,22208,38482,MDL-NON80328,2,15.82,Santa Fe,TN,USA
77,10/01/2019,22209,77520,KER-33872,1,44.99,Baytown,TX,USA
78,10/02/2019,22215,77954,SUL-21115,1,119.99,Cuero,TX,USA
79,09/16/2019,22176,75211,3MD-712-036,1,92.50,Dallas,TX,USA
80,08/19/2019,22136,78624,ACT-F00254,1,85.00,Fredericksburg,TX,USA
81,08/19/2019,22136,78624,ACT-F00246,1,79.99,Fredericksburg,TX,USA
82,08/19/2019,22136,78624,ACT-F00245,1,85.00,Fredericksburg,TX,USA
83,10/02/2019,22213,76123,SUL-21115,1,119.99,Fort Worth,TX,USA
85,10/15/2019,22250,77494,3MD-712-036,1,94.50,Katy,TX,USA
86,10/03/2019,22221,78574,J&J-MS0005,1,20.45,Mission,TX,USA
87,10/17/2019,22256,75801,3MD-3525(TE),1,115.00,Palestine,TX,USA
88,09/24/2019,22194,77488,SIR-6176536,2,115.98,Wharton,TX,USA
89,10/14/2019,22242,84096,DEN-80395,3,398.97,Herriman,UT,USA
90,10/15/2019,22245,84117,BEA-FG330,1,89.99,Salt Lake City,UT,USA
91,10/02/2019,22216,20170,KER-33872,1,44.99,Herndon,VA,USA
92,09/23/2019,22191,98101,CWH-H01415,1,13.75,Seattle,WA,USA
93,09/17/2019,22180,54638,KRO-KRM302,2,15.00,Kendall,WI,USA

In [66]:
ebay.to_csv(r'ebayConsolidated1.csv')

# Adding the landing cost for Ebay data

In [61]:
cost = pd.read_csv('net32CostOfGoods.csv')

In [68]:
# Adding in the landing costs
ebay['landing cost'] = '0'

for i in range(0,len(ebay['item'].unique())):
    for j in range(0,len(cost['Item'].unique())):
        if ebay['item'].unique()[i] == cost['Item'][j]:
            ebay.loc[ebay['item']==ebay['item'].unique()[i],'landing cost'] = cost['Cost'][j]

C:\Users\carlo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [72]:
ebay['landing cost']=ebay['quantity']*ebay['landing cost']

C:\Users\carlo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [74]:
ebay.head()

,date,order number,Ship Postal Code,item,quantity,revenue,order city,order state,country,landing cost
0,09/13/2019,22172,36608,3MD-3525(TE),3,323.38,Mobile,AL,USA,105
1,10/11/2019,22239,35768,ACT-261005,1,80.00,Scottsboro,AL,USA,56.1
2,10/11/2019,22239,35768,ACT-261030,2,249.18,Scottsboro,AL,USA,186.52
3,09/20/2019,22185,35148,KOD-1273747,1,49.99,Sumiton,AL,USA,10.5
4,10/09/2019,22232,72703,3MD-3525(TE),1,112.02,Fayetteville,AR,USA,35

In [75]:
ebay.loc[ebay['item']=='3MD-3525(TE)']

,date,order number,Ship Postal Code,item,quantity,revenue,order city,order state,country,landing cost
0,09/13/2019,22172,36608,3MD-3525(TE),3,323.38,Mobile,AL,USA,105
4,10/09/2019,22232,72703,3MD-3525(TE),1,112.02,Fayetteville,AR,USA,35
15,10/09/2019,22234,94123,3MD-3525(TE),1,99.50,San Francisco,CA,USA,35
36,10/10/2019,22235,60010,3MD-3525(TE),1,99.50,Barrington,IL,USA,35
47,10/15/2019,22248,21804,3MD-3525(TE),1,115.00,Salisbury,MD,USA,35
59,10/09/2019,22231,89139,3MD-3525(TE),1,99.50,Las Vegas,NV,USA,35
65,10/10/2019,22236,11432,3MD-3525(TE),1,97.00,Jamaica,NY,USA,35
87,10/17/2019,22256,75801,3MD-3525(TE),1,115.00,Palestine,TX,USA,35

In [76]:
ebay.to_csv(r'ebayConsolidated2.csv')

In [77]:
ebay

,date,order number,Ship Postal Code,item,quantity,revenue,order city,order state,country,landing cost
0,09/13/2019,22172,36608,3MD-3525(TE),3,323.38,Mobile,AL,USA,105
1,10/11/2019,22239,35768,ACT-261005,1,80.00,Scottsboro,AL,USA,56.1
2,10/11/2019,22239,35768,ACT-261030,2,249.18,Scottsboro,AL,USA,186.52
3,09/20/2019,22185,35148,KOD-1273747,1,49.99,Sumiton,AL,USA,10.5
4,10/09/2019,22232,72703,3MD-3525(TE),1,112.02,Fayetteville,AR,USA,35
5,09/16/2019,22177,72104,ACT-261030,1,135.00,Malvern,AR,USA,93.26
6,09/30/2019,22207,72653,KER-33872,1,44.99,Mountain Home,AR,USA,30.83
7,10/01/2019,22211,85233,BEA-FG557,1,89.99,Gilbert,AZ,USA,58.96
8,10/09/2019,22230,94706,3MD-712-036,2,185.98,Albany,CA,USA,85.14
9,09/23/2019,22186,91911,3MD-712-036,1,94.99,Chula Vista,CA,USA,42.57
10,09/20/2019,22184,95758,3MD-712-036,2,189.98,Elk Grove,CA,USA,85.14
11,09/27/2019,22202,93650,J&J-MS0005,6,122.70,Fresno,CA,USA,73.08
12,10/03/2019,22219,92543,3MD-712-036,1,94.99,Hemet,CA,USA,42.57
13,08/23/2019,22147,90045,J&J-MS0005,8,231.92,Los Angeles,CA,USA,97.44
14,09/23/2019,22192,90031,3MD-712-036,1,94.99,Los Angeles,CA,USA,42.57
15,10/09/2019,22234,94123,3MD-3525(TE),1,99.50,San Francisco,CA,USA,35
16,09/13/2019,22171,93657,3MD-41258,1,94.99,Sanger,CA,USA,64.23
17,09/27/2019,22200,91403,3MD-712-036,1,94.99,Sherman Oaks,CA,USA,42.57
18,09/25/2019,22195,92683,3MD-712-036,3,264.00,Westminster,CA,USA,127.71
19,10/10/2019,22237,80909,KER-31513(EU),2,89.98,Colorado Springs,CO,USA,42.94
20,10/03/2019,22223,6907,CRA-CR3226,10,67.50,Stamford,CT,USA,34
21,08/21/2019,22144,6897,CRA-CR3226,10,91.60,Wilton,CT,USA,34
22,09/09/2019,22165,33435,ULT-6408,1,34.99,Boynton Beach,FL,USA,23.65
23,09/26/2019,22199,33909,3MD-1954,2,64.00,Cape Coral,FL,USA,28.58
24,08/26/2019,22148,33122,3MD-56877,2,169.98,Miami,FL,USA,82.58
25,10/09/2019,22233,33198,3MD-712-036,1,92.99,Miami,FL,USA,42.57
26,10/17/2019,22259,33180,3MD-31642(E),2,397.08,Miami,FL,USA,309.58
27,09/23/2019,22187,33195,3MD-712-036,1,94.99,Miami,FL,USA,42.57
28,10/02/2019,22217,33176,KER-33872,2,89.98,Miami,FL,USA,61.66
29,09/12/2019,22170,33157,3MD-712-036,2,185.00,Miami,FL,USA,85.14
...,...,...,...,...,...,...,...,...,...,...
61,09/17/2019,22181,89121,SIR-6176528,1,49.99,Las Vegas,NV,USA,26.12
62,09/17/2019,22181,89121,SIR-6176510,1,49.99,Las Vegas,NV,USA,27.39
63,10/15/2019,22249,14470,DEN-80395,2,258.00,Holley,NY,USA,139.7
64,09/27/2019,22204,11743,3MD-71522,2,175.98,Huntington,NY,USA,105.9
65,10/10/2019,22236,11432,3MD-3525(TE),1,97.00,Jamaica,NY,USA,35
68,10/02/2019,22214,11787,EDS-130-01,1,118.00,Smithtown,NY,USA,75
69,10/02/2019,22214,11787,EDS-130-0,1,118.00,Smithtown,NY,USA,75
70,10/09/2019,22229,11413,3MD-41258(E),10,398.60,Springfield Gardens,NY,USA,300
71,10/02/2019,22218,10607,KER-31513(EU),2,89.98,White Plains,NY,USA,42.94
72,08/15/2019,22135,16105,3MD-46957,1,89.99,New Castle,PA,USA,52.39
73,10/11/2019,22240,19116,KER-31513(EU),2,89.98,Philadelphia,PA,USA,42.94
74,10/11/2019,22238,19460,DER-31515,1,120.00,Phoenixville,PA,USA,0
75,09/27/2019,22201,37857,ACT-F00245,1,59.99,Rogersville,TN,USA,32.71
76,10/01/2019,22208,38482,MDL-NON80328,2,15.82,Santa Fe,TN,USA,6.76
77,10/01/2019,22209,77520,KER-33872,1,44.99,Baytown,TX,USA,30.83
78,10/02/2019,22215,77954,SUL-21115,1,119.99,Cuero,TX,USA,51.82
79,09/16/2019,22176,75211,3MD-712-036,1,92.50,Dallas,TX,USA,42.57
80,08/19/2019,22136,78624,ACT-F00254,1,85.00,Fredericksburg,TX,USA,32.71
81,08/19/2019,22136,78624,ACT-F00246,1,79.99,Fredericksburg,TX,USA,33.45
82,08/19/2019,22136,78624,ACT-F00245,1,85.00,Fredericksburg,TX,USA,32.71
83,10/02/2019,22213,76123,SUL-21115,1,119.99,Fort Worth,TX,USA,51.82
85,10/15/2019,22250,77494,3MD-712-036,1,94.50,Katy,TX,USA,42.57
86,10/03/2019,22221,78574,J&J-MS0005,1,20.45,Mission,TX,USA,12.18
87,10/17/2019,22256,75801,3MD-3525(TE),1,115.00,Palestine,TX,USA,35
88,09/24/2019,22194,77488,SIR-6176536,2,115.98,Wharton,TX,USA,62.46
89,10/14/2019,22242,84096,DEN-80395,3,398.97,Herriman,UT,USA,209.55
90,10/15/2019,22245,84117,BEA-FG330,1,89.99,Salt Lake City,UT,USA,58.96
91,10/02/2019,22216,20170,KER-33872,1,44.99,Herndon,VA,USA,30.83
92,09/23/2019,22191,98101,CWH-H01415,1,13.75,Seattle,WA,USA,8.83
93,09/17/2019,22180,54638,KRO-KRM302,2,15.00,Kendall,WI,USA,7.74